{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
    %}

<div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="https://st2.depositphotos.com/1518767/7635/i/950/depositphotos_76352761-stock-photo-overhead-shot-of-laptop-and.jpg" class="w-100">
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">Manage your expenses efficiently</h5>
      <p>With this free, easy to use tool, you will never need to pick up pencil and paper ever again. Login if you are a regular user, or sign up if you are new around here.</p>
      <a href="/login" class="btn btn-primary">Login</a>
      <a href="/sign-up" class="btn btn-primary">Sign Up</a>
    </div>
  </div>
  {% endblock %} 